/*Start Our offer stlye*/
.our-offers{
  background-color: var(--light-Grayish-Blue);
  position: relative;
  .container{
    @media (max-width:567px) {
      text-align: center;
    }
    h2{
      font-size: 2.4rem;
      font-weight: 300;
      padding: 1.5rem 0;
    }
    p{
      font-size: 1.1rem;
      line-height: 1.6;
      color:var(--Grayish-Blue);
    }
    .offer-list{
      margin-top:5rem ;
      display: grid;
      grid-template-columns: repeat(auto-fill,minmax(249px,1fr));
      grid-gap: 30px;
      h3{
        font-weight: 400;
        padding: 2rem 0;
      }
      p{
        font-size: .995rem;
      }
    }
  }
}
/*End Our offer stlye*/